extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                div.text-center
                    form(class="form-signin" method="POST" action="/users/login")
                        #error
                            if error
                                p.text-danger Error!!!

                        - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                        h1(class=h1Classes) Cambiar contraseña

                        // input password
                        label(for="inputPassword" class="sr-only") Password
                        input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Introduzca la nueva contraseña" required)

                        br

                        // input confirm password
                        label(for="inputPassword" class="sr-only") Password
                        input(type="password" name="password" id="inputConfirmPassword" class="form-control" placeholder="Confirme la nueva contraseña" required)

                        br

                        //-signIn button
                        - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                        button(class=buttonClass type="submit") Enviar

                        - var pClasses=['mt-5', 'mb-3', 'text-muted'];
                        p(class=pClasses) &copy; Stela 2020
